[2018-06-20 15:32] csadorf opened #1 "Add example on how to deal with replicas"
**[Original report](https://bitbucket.org/glotzer/signac-docs/issue/1) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

There should be a short example on how to handle multiple replications, where each replica is a function of a specific random seed for instance.

[2018-09-13 13:01] csadorf opened #2 "Add example on "how to run simulations longer""
**[Original report](https://bitbucket.org/glotzer/signac-docs/issue/2) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Many users run into the issue of initializing jobs with a fixed number of time steps and then don't know how to select individual jobs for a longer equilibration

[2018-11-01 15:15] csadorf opened #10 "Add the $not operator to the documentation"
**[Original report](https://bitbucket.org/glotzer/signac/issue/103) by Vyas Ramasubramani (Bitbucket: [vramasub](https://bitbucket.org/vramasub), GitHub: [vyasr](https://github.com/vyasr)).**

----------------------------------------

Currently the Query API page is missing docs.

[2018-11-05 16:13] csadorf opened #3 "Document how to deal with interdependent data spaces"
**[Original report](https://bitbucket.org/glotzer/signac-docs/issue/3) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

There should be a recipe or FAQ entry on how to connect/stack multiple data spaces.

[2019-01-04 15:52] csadorf opened #4 "Deploy to github-pages with Circle-CI"
**[Original report](https://bitbucket.org/glotzer/signac-docs/issue/4) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Since the readthedocs team is ignoring the [indexing issue](https://github.com/rtfd/readthedocs.org/issues/4908) and related email-inquiries I propose that we swi

[2019-02-03 21:55] csadorf commented on #4
The issue has been resolved by the read-the-docs team! Hooray!

[2019-02-03 21:55] #4 closed

[2019-02-20 14:49] csadorf opened #8 "Better support/documentation for repairing corrupt workspaces"
**[Original report](https://bitbucket.org/glotzer/signac/issue/80) by Jens Glaser (Bitbucket: [jens_glaser](https://bitbucket.org/jens_glaser), GitHub: [jglaser](https://github.com/jglaser)).**

----------------------------------------

The `project.repair()` functionality is useful, but it doesn't always succeed e.g. if the `signac_statepoint.json` is an empty file for some reason.

In that case

[2019-02-20 14:52] csadorf opened #9 "support serialization of fixed point numbers"
**[Original report](https://bitbucket.org/glotzer/signac/issue/79) by Jens Glaser (Bitbucket: [jens_glaser](https://bitbucket.org/jens_glaser), GitHub: [jglaser](https://github.com/jglaser)).**

----------------------------------------

Currently, serialization of `float()`'s into JSON state points can some times result in unwieldy floating point numbers with a lot of extra digits that approximate

[2019-02-21 15:07] csadorf opened #11 "Documentation should show examples of cluster submission."
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/26) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

[2019-03-10 16:09] csadorf commented on #10
@vyasr Could you address this issue soon or would you want somebody else to take this on?

[2019-03-10 16:11] csadorf opened #17 "Create high-resolution SVG version of the signac-badge"
The badge is currently available in high-resolution only in PNG and PDF format. It would be better to have a high-resolution version of the SVG format as well in addition the low-resolution version.

[2019-03-12 23:42] csadorf opened #18 "Improve documentation on project execution loop"
**[Original report](https://bitbucket.org/glotzer/signac-flow/issue/32) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The execution loop that flow enters when calling `$ python project.py run` and all of its variants is not well documented leading to confusion among users.

[2019-03-14 16:08] syjlee commented on #18
@csadorf *Original report* above is not available since this issue was created before the repositories moved to Github. Were there important details I need to keep eyes on in there?

[2019-03-14 16:10] csadorf commented on #18
No, there was not more information available. However, I am going to write up a brief summary of what I believe we can do to address this issue.

[2019-03-15 15:37] #1 closed

[2019-03-15 19:03] csadorf commented on #18
I think we should add another section *Run operations* after the [The Project Status ](http://docs.signac.io/en/latest/flow-project.html#the-project-status) section that explains exactly how the execution loop works. The current explanation is somewhat scattered over different places.

I would start by reading and understanding the [`FlowProject.run()`](https://github.com/glotzerlab/signac-flow/bl

[2019-04-25 15:32] mikemhenry opened #25 "Add link to code of conduct on community page"
We should probably add a link to https://signac.io/conduct/ on this page http://docs.signac.io/en/latest/community.html

I expected to find it there, if others agree, I'll make the PR

[2019-04-25 15:37] vyasr commented on #25
I agree, I also went looking for it and couldn't find it anywhere on our documentation. That seems to be the right place.

[2019-05-07 15:11] csadorf commented on #18
@syjlee Were you able to make any progress on this?

[2019-06-27 15:41] mikemhenry commented on #25
Fixed with PR #28

[2019-06-27 15:41] #25 closed

[2019-07-04 13:49] csadorf opened #30 "The `signac shell` command is not documented properly"
There should be no dedicated section and searching for `shell` does not return anything useful.

[2019-07-10 22:35] #10 closed

[2019-07-19 15:52] bdice opened #38 "Clarify role of directives in execution/submission"
While discussing how to clarify directives, we decided to do the following:

1. Move the directives to a higher-level (and earlier) in the docs.
2. Rename "Execution Directives" to "Submission Directives."
3. Change the proposed `fork` behavior from https://github.com/glotzerlab/signac-flow/pull/132 to a decorator like `with_job` or `cmd` since it affects execution when running locally, unlike the

[2019-07-19 17:02] csadorf opened #39 "Improve documentation on the distinction between a (synced) JSONDict and a dict"
We need to clarify that the synchronized `JSONDict` data structure underlying for example a `Job.statepoint` or a `Job.document` is similar to, but not the same as a Python `dict`. This is especially important when it comes to the conversion to a `dict` and subsequent manipulation which can lead to some confusion as demonstrated in [this issue](https://github.com/glotzerlab/signac/issues/153).

I

[2019-07-27 13:24] csadorf commented on #38
Resolved with merge of #40 .

[2019-07-27 13:24] #38 closed

[2019-07-27 13:24] csadorf commented on #30
Resolved with merge of #41 .

[2019-07-27 13:24] #30 closed

[2019-07-27 13:26] csadorf commented on #17
This has become obsolete as we anticipate a logo redesign.

[2019-07-27 13:26] #17 closed

[2019-08-12 19:54] cbkerr opened #43 "Error in tutorial"
Tutorial > Workflows > Implementing a simple workflow

Example uses os to check for file without checking in job directory

[2019-08-12 20:09] csadorf commented on #43
Resolved with merge of #44 .

[2019-08-12 20:09] #43 closed

[2019-09-18 16:21] klywang opened #45 "Add diagrams that explicitly demonstrate the structure and hierarchy of a signac project"
The entry point to use `signac` can be steep for newcomers. It can be particularly difficult to understand how all of it's components fit together. To help new users develop intuition for `siganc`'s structure, it may be beneficial to add diagrams which clearly show a project's structure.

Here is an example:
![image](https://user-images.githubusercontent.com/47036428/65166476-ce79d900-da0e-11e9-96

[2019-09-19 03:05] vyasr commented on #45
Thanks for the idea! We can definitely try and add something like that to clarify the documentation.

[2019-09-23 11:32] csadorf commented on #45
@klywang That's a great idea! Would you be interested in adding this yourself?

[2019-10-01 18:16] atravitz opened #46 "parameter-dependent operations example unclear"
I'm unable to reproduce the below example for parameter-dependent operations, and I think that adding less-arbitrary naming might help clarify where this is useful.

[code]

[2019-10-02 20:56] bdice opened #47 ".gitignore files should be documented"
We should document which files make sense to ignore in version control. For example, `signac_project_document.json`.

(Idea from @atravitz.)

[2019-10-04 20:49] klywang commented on #45
Yeah! What software do you guys typically use to make your diagrams?

[2019-10-04 21:15] klywang opened #50 "More examples and descriptive documentation for signac's H5store interface"
Currently, the documentation for `project.data` and `job.data` references the `H5Store` class rather than provide examples with the interface. The relationship between `H5Store`'s documentation and `job.data` and `project.data` may be unclear for new users. Examples for usage and information about the interface should appear under the documentation for `job.data` and `project.data` for clarity and

[2019-10-08 15:01] csadorf commented on #45
@klywang Awesome! I've used lucidchart in the past for these purposes, but any applications that allows you to create vector graphics should suffice (such as Adobe Illustrator). Just make sure to store it in an open format so that we can potentially edit it later again and it should be fine.

[2019-10-08 16:52] vyasr opened #51 "HOOMD example should be an ideal gas"
The HOOMD example claims to simulate an ideal gas, but it actually uses a Lennard-Jones fluid. The simplest solution to this problem would be to just remove the lj pair potential entirely from that bit of code.

[2019-10-10 18:08] mikemhenry commented on #51
The example is actually supposed to be an LJ fluid and there is only one mention of an ideal gas, so instead I'm going to keep it LJ fluid and fix the mentions of ideal gas

[2019-10-10 18:28] mikemhenry opened #56 "Add pull request review bot to this repo"

[2019-10-18 01:05] vyasr commented on #51
Resolved by #55

[2019-10-18 01:05] #51 closed

[2019-10-28 17:12] atravitz opened #58 "add section for command line operations"
signac command line operations need to be highlighted, especially `signac shell`

[2019-10-28 19:46] atravitz opened #59 "add a glossary for uncommon naming"
add a glossary for terms like: bundle, group, statepoint, workspace(?), aggregate.

[2019-10-30 18:51] atravitz opened #60 "document that --pretend doesn't include arguments passed after "--""

[2019-10-31 19:45] mikemhenry commented on #60
I love all of these issues @atravitz! Can you add an example of what your running into?

[2019-10-31 20:07] vyasr commented on #60
Alyssa is using the feature of flow that allows you to pass arbitrary arguments to the scheduler, e.g. `python project.py submit -n 1 -- -A=MY_ACCOUNT -l OTHER_RESOURCE`. The way that we implement this is to literally pass these arguments through to the scheduler, e.g. `sbatch -A=MY_ACCOUNT -l OTHER_RESOURCE script.sh`, without actually modifying `script.sh`. As a result, using `--pretend` doesn't

[2020-01-14 19:04] mikemhenry opened #64 "Doc Revamp"
There are a few different "phases" to updating our docs.

1. First lets make sure our current doc strings get linted in the source code
1.1 Find a linter
1.2 Fix issues the linter finds
1.3 Push fixes + include linter into CI

Later we can use the linter to enforce things like requiring doc strings for every function.

Second phase is to collate the user feedback we have received via issues on git

[2020-01-14 19:45] klywang commented on #45
I started making a flow chart but it ended up being pretty large and hard to look at.
I've drafted up a more inforgraphic-style diagram instead. I can use Adobe Illustrator to make graphics and layouts for it. Let me know what you guys think.
![image](https://user-images.githubusercontent.com/47036428/72376680-6301f880-36dc-11ea-8c65-616a629321c4.png)

[2020-01-14 20:33] vyasr commented on #45
I love it, but I think the trick will be hitting the right level of detail for it to be informative without being too overwhelming. For example, I think another graphic clarifying that the statepoint, data, and document are files in the job would be helpful. I do like the infographic style, it's a nice changeup from straight UML-type diagrams (which you could still do for the flowchart).

[2020-01-14 21:24] klywang commented on #45
So have the folder heiarchy as a seperate diagram from the contents of the folders?
Would this mean there would be diagrams for the following:
(1) An overview of the file structure. Focuses on defining basic concepts like "project", "workspace", "job", and "statepoint" and how they interact with siganc/signac-flow
(2) A job-centric graphic that shows how data is stored within a folder
(3) A UML di

[2020-01-14 23:52] yuanzhou0827 opened #65 "Documentation for setting up environment."
Documentation related to account setting up is not that clear (except for torque system), which might be good to add.

Like GreatLakes, it can be set by `python project.py submit -o [op] ... --force -- --account=sglotzer3` which will submit jobs only included by the cmd line with desired account or `signac config set 'flow.GreatLakesEnvironment.account' sglotzer3` will change the submit templates

[2020-01-21 16:08] bdice opened #66 "Update logo badge on acknowledgement page."
The badge on https://docs.signac.io/en/latest/acknowledge.html still shows our old logo. This should be updated.

[2020-01-21 16:12] mikemhenry commented on #66
Good catch! The sentence on the bottom of the page reads:

But since we are only using one logo for the whole framework, we might want it to say something like:

[2020-01-26 20:05] ac-optimus opened #68 "Tutorial update required."
### Description

Add post-condition in the tutorial example. Current instruction throws warning -`WARNING:flow.project:Operation 'compute_volume' has no post-conditions!`
Solution - change [this](https://github.com/glotzerlab/signac-docs/blob/master/docs/source/tutorial.rst#workflows) to
[code]

### To reproduce

Follow the current tutorial [link](https://github.com/glotzerlab/signac-docs/blob/mas

[2020-01-27 10:22] csadorf commented on #45
@klywang I think your proposed division makes sense.

[2020-01-28 06:28] ac-optimus commented on #68
@bdice can you have a look if this looks good - https://github.com/ac-optimus/signac-docs/blob/tutorial_correction/docs/source/tutorial.rst#workflows
Can I go ahead with PR?

[2020-01-28 08:16] csadorf commented on #68
@ac-optimus Please just go ahead and create the PR, it will be easier for us to review then.

[2020-01-28 08:22] ac-optimus commented on #68
@csadorf sure!

[2020-01-30 16:43] mikemhenry opened #70 "Add a getting started section for new contributors"
We have had a wonderful influx of people who want to contribute to signac. Many have the same question, "where do I start?" I think we should add a section here that links to our github issues with the "good first issue" tag:

https://docs.signac.io/en/latest/community.html#contributions

Any other ideas?

[2020-01-30 16:45] mikemhenry commented on #70
Example link: https://github.com/glotzerlab/signac-flow/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

[2020-01-30 20:37] vyasr commented on #70
I think a few of these links would be helpful. It would be helpful to link separately to signac and signac-flow, and maybe to include a separate list by label (especially the docs label for people who would feel most comfortable starting with docs).

[2020-01-31 17:01] #66 closed

[2020-02-13 23:17] pepak13 opened #72 "Correcting documentation of signac schema output after running tutorial init script"
### Issue Description
The documentation has an incorrect output: 'p': 'int([1, 2, 3, ..., 9, 10], 10)' of signac schema after init.py is ran.

### Proposed change (optional)

Correctly document the output attained through signac schema after running init.py:
'p': 'int([1, 2, 3, ..., 9], 9)'

[2020-02-17 16:33] mikemhenry commented on #64
The first step is also a good first issue for someone who wants to poke at our CI system a bit + make some relatively straightforward edits to our documentation formatting. I would start looking at some of these:

https://github.com/PyCQA/pydocstyle
https://gitlab.com/pycqa/flake8-docstrings
https://github.com/terrencepreilly/darglint

From it a quick glace they all might to slightly different thi

[2020-02-17 16:34] mikemhenry commented on #64
To make another pitch why someone might want to work with me on this issue: It will require you to touch the entire code base in an organic way :)

[2020-02-17 17:00] mikemhenry opened #74 "Doc String Style"
What style should we use? `pep257` isn't complete enough, the two main choices are [`numpy`](https://numpydoc.readthedocs.io/en/latest/format.html) and [`google`](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html)

[2020-02-17 17:01] mikemhenry commented on #64
See issue #74 for deciding what style we want to follow.

[2020-02-17 17:18] mikemhenry commented on #74
Lets see what style has the best tooling and pick that one

[2020-02-17 17:22] mikemhenry commented on #64
As a test we will pick a single module to make sure the tooling works and see how it works in the CI

[2020-02-17 17:32] mikemhenry opened #75 "Improve our signac-flow API visibility"
We have lots of things documented in flow but we don't render/show the documentation on our RTD page.

[2020-02-17 17:41] mikemhenry commented on #75
We have this: https://docs.signac.io/en/latest/reference.html

But maybe need a way to organize the order/what topics people should check out.

[2020-02-17 17:42] mikemhenry opened #76 "Improve topic/feature visibility"
We have this: https://docs.signac.io/en/latest/reference.html

But maybe need a way to organize the order/what topics people should check out.

[2020-02-17 22:43] mikemhenry commented on #74
We are going to use `numpy` since that's what most of the other people in the same problem space as us use.

[2020-02-17 22:43] #74 closed

[2020-02-18 16:26] vyasr commented on #64
Related issue: glotzerlab/signac#193

[2020-02-20 20:05] zhou-pj opened #78 "add docs for the Renderer class for signac flow print_status()"
### Issue Description

related PR: signac-flow #113, #163

[2020-02-24 16:51] mikemhenry opened #79 "Update contributing guides about review process"
We should add a note about how reviews are done so people know to not manually add reviewers and request a re-review when changes are made.

[2020-02-26 10:04] csadorf commented on #79
@mikemhenry Can you take this on?

[2020-02-28 22:36] mikemhenry commented on #79
Yes!

[2020-03-16 02:59] bdice opened #81 "JOB_ID_SEPARATOR should be documented in environments.rst"
### Issue Description
[This pull request](https://github.com/glotzerlab/signac-flow/pull/262) adds a feature to `Environment` classes: by defining an attribute `JOB_ID_SEPARATOR`, submitted jobs will use that separator string instead of a slash `'/'` in the submitted job names. This is needed for clusters that do not support slash as a character in the job name, as [documented in this issue](https

[2020-03-16 07:09] csadorf commented on #81
Why is this not a class attribute with a default value? Then one could document it with a docstring?

[2020-03-16 12:40] bdice commented on #81
Sounds like a good idea to me. I like that option better than my original proposal. I’ll rename the issue title to be solution-agnostic.

[2020-04-13 16:48] vyasr commented on #68
Resolved by #69

[2020-04-13 16:52] vyasr commented on #76
@atravitz @klywang this is probably relevant to our discussion today

[2020-04-17 17:51] klywang opened #82 "Condense Concept section and move to welcome page"
### Issue Description

There is a lot of text on the concept section which may be intimidating for new users. We include a more high level overview of how singac and signac-flow work together.

### Proposed change (optional)

Remove the concept section and move a condensed version to the welcome page. Include diagram from #45.

[2020-04-17 18:00] klywang opened #83 "Introduce signac-flow in the Quickstart"
### Issue Description

In the **Quickstart**, **Examples**, and **Tutorial** seciton, it explicitly states to install `signac` but not `signac-flow`. However examples include usage of `flow`.

@atravitz and I will update this as we go through the documentation.

### Proposed change (optional)

Add a sentence that introduces `flow` and tells the user to install the package.

[2020-04-17 18:16] klywang opened #84 "Add content Tutorial and Examples sections"
### Issue Description

These sections use nearly identical examples. The main difference is the **Tutorial** section includes more description, while the **Examples** section condensed the scripts from the tutorials.

We'd like to open a discussion on the aim of each section and use these aims to improve the **Tutorial** and **Examples** sections.

### Proposed change
TBD

[2020-04-17 18:23] atravitz commented on #58
@glotzerlab/signac-committers - thoughts on if CLI documentation should be under "Getting Started" or "User Guide"? I think it should be its own section

[2020-04-17 18:24] klywang commented on #58
Once the CLI section is created, we should make sure to link it to the **Tutorial** section (and anwhere else it may be relevant).

[2020-04-20 17:41] klywang commented on #84
The aims of the *Tutorial*, *Examples*, and *Recipies* sections are detailed below, according to discussion between @atravitz, @b-butler, @bdice, and @vyasr:
- *Tutorial*
    - Explanations of concepts between code snippets
    - More verbose than *Examples*
- *Examples*
    - Clear, concise code
    - Self contained
    - May include external packages
    - Templates for more advanced usage of `s

[2020-04-20 18:00] klywang opened #85 "Expand Navigation bar to expose more content"
### Issue Description

The current Navigation bar layout has too many levels. It is difficult to find articles related to specific topics a user may be interested in

For example, if a user wishes wants to look up state point modification, they must navigate to `User Guide (section) > Managing Data (level 1) > Jobs (level 2) > The Job State Point (level 3) >  Modifying the State Point (heading in

[2020-04-20 19:51] bdice commented on #84
Just to clarify: all current content in _Examples_ should be removed, not just the ideal gas. This will be replaced with content from `signac-examples`.
- The [HOOMD MD example](https://github.com/glotzerlab/signac-docs/tree/f9de77eefbd55ae41d186dca3e0c3f7bf682c1b8/examples/hoomd-lj) should be replaced with its equivalent code in `signac-examples`
- The [Sacred example](https://github.com/glotzerl

[2020-04-21 14:07] vyasr commented on #58
@atravitz I think as per our discussion yesterday I agree with the sectioning suggested in #85 (a separate command line section that falls under the User Guides, whether or not we keep that User Guides header). However, I also think it would be worth updating the tutorial to have more (and more clearly delineated) examples of command line usage. Right now I see only three mentions of the command l

[2020-04-21 14:55] vyasr commented on #85
Is there any way in Sphinx to require that a sidebar show multiple levels by default, rather than having to click into a level before you can see that output? And if that exists, @klywang would that also resolve the problem, or would you still prefer to just see a flattened structure?

[2020-04-21 14:57] klywang commented on #58
@vyasr I think this is a good idea. We just need to be careful that the info bubbles don't overwhelm the rest of the tutorial.

[2020-05-05 16:40] kidrahahjo opened #86 "Update documentation for printing status"
### Issue Description
A recently merged PR [#271](https://github.com/glotzerlab/signac-flow/pull/271) introduces a new feature which enables parallelized determination of the project status with processes.
Here a configuration variable (`status_parallelization`) was introduced.
We would now want to update the official documentation accordingly for the new users to learn about the feature.

### Add

[2020-05-05 18:02] csadorf commented on #86
Thank you @kidrahahjo !

[2020-05-05 20:21] mikemhenry commented on #68
Not sure why this didn't automatically close.

[2020-05-05 20:21] #68 closed

[2020-05-07 05:39] #86 closed

[2020-05-15 20:20] #83 closed

[2020-05-27 18:41] klywang commented on #85
@vyasr That might make give users information overload and make things harder to find. I think the flattened structure is good, it just needs to be more obvious where to find the information you need.

[2020-05-28 09:20] csadorf commented on #85
Yes, see the `maxdepth` option for the `toctree` directive: https://www.sphinx-doc.org/en/1.5/markup/toctree.html#directive-toctree

[2020-06-10 21:00] atravitz opened #90 "Clarifying Environment Specifications"
### Issue Description

It's not clear which arguments should be passed directly to signac and which should be passed as "additional arguments."

### Proposed change (optional)

In the docs we should introduce the _exisiting_ templates first. Right now it jumps right into defining your own. We should give some example use cases that are common for us.

### Additional context (optional)

Things that

[2020-07-24 01:58] bdice opened #94 "Possible solution to combine all package docs"
We’ve been wanting to combine API docs and not deal with the “subpackage” approach for a long time. I would propose the following, but I am not sure if the solution below is viable. Related to #75 ...and probably many other issues.

There might be some way we could make the signac-docs repo include git submodules, or clone signac/flow/dashboard in the Makefile, AND couple this with a GitHub web ho

[2020-07-24 04:42] cbkerr commented on #85
I found an option to fix this problem in #93.

[2020-07-24 05:00] cbkerr commented on #85
I agree with @klywang that there are too many navigation levels in the current documentation. In the commits towards #93, I experimented with setting read-the-docs theme property`navigation_depth` to 3 (one less than default, [described here](https://sphinx-rtd-theme.readthedocs.io/en/stable/configuring.html)), but since the sub-sections are long, the subheadings feel necessary until some content

[2020-07-27 20:13] atravitz opened #95 "Make API(s) easier to find"
### Issue Description

I find it very difficult to access the API documentation. I think we should at least make it visible from the sidebar.

tagging @klywang @pepak13 and @glotzerlab/signac-committers for thoughts.

### Proposed change (optional)
As a minimum, I'd like this side bar to always be visible, but I'm open to other thoughts.

![image](https://user-images.githubusercontent.com/31974495

[2020-07-29 18:43] atravitz commented on #85
#95 can be addressed in this PR too I think.

[2020-08-07 05:03] cbkerr opened #96 "Add details about why users want each package to framework installation instructions"
### Issue Description
We have redundant instructions on [this site](https://docs.signac.io/en/latest/installation.html) but also [signac-core](https://docs.signac.io/projects/core/en/latest/installation.html) and [signac-flow](https://docs.signac.io/projects/flow/en/latest/installation.html) and [signac-dashboard](https://docs.signac.io/projects/dashboard/en/latest/installation.html) (all links ar

[2020-08-07 05:47] cbkerr commented on #96
Perhaps we can include the simplest installation command on the new "Packages" page but redirect to the separate pages for more advanced ways.

[2020-08-07 06:14] cbkerr commented on #76
#97 improves the visibility of topics, so if this PR is still relevant, maybe we can change the focus to be the ordering that @mikemhenry mentioned:

[2020-08-07 06:19] cbkerr commented on #75
@mikemhenry I'm not sure what level of detail in "things" you are referring to, but is this issue repeated in #95 and solved with #97? Do you want to include a list of functions from the API for flow?

[2020-08-07 06:24] cbkerr commented on #58
For reference, here is how this was [done in the signac project](https://github.com/glotzerlab/signac/pull/359#issuecomment-665445340).

After adding it to extensions, we invoke it with:

We can use this method to insert relevant command line commands into the documentation?

[2020-08-10 09:22] csadorf commented on #96
I may be missing some context, because I was not part of the discussion at the meeting, however I would like to point out that having a super clear and easy path to installation is essential in on-boarding new users. A new user will likely spend only about a minute max to find instructions on how to install signac and "hiding" the installation instructions on various sub packages may therefore be

[2020-08-10 16:00] cbkerr commented on #96
Looking back at this, I agree that we need a clear "Installation" keyword for new users who are skimming for how to get started. Coupled with the fact that the "installation" link on signac.io points to the installation page on the framework documentation, I think at best it's too early to remove the installation page from the side bar.

There is some additional context in the discussion at #85.

[2020-08-10 16:38] cbkerr commented on #85
I just noticed that many sections aren't discoverable by moving elements of the "reference.rst" file to the sidebar. These are: operations, flow-project, cluster_submission, environments, templates, flow-group, indexing, collections, configuration.

The original re-organization proposed by @klywang has some of these (collections, configuration), but not all. I think "workflows" contains sub-pages.

[2020-08-10 19:39] klywang commented on #96
@csadorf I agree that we need a to keep "Installation" on the side bar and that information provided there should be concise. If I remember correctly from my offline discussion with @cbkerr, the main concern was new users who skipped straight to "Installation". The presence of multiple packages and there functions seems to be a consistent entry barrier (at least from my anecdotal experience).

Cur

[2020-08-14 15:50] #85 closed

[2020-08-14 15:50] #95 closed

[2020-08-18 19:51] atravitz opened #100 "Include suggestions for using git with signac"
We should acknowledge git in our documentation somewhere

### Issue Description
Common questions I've gotten from new users (and questions I've asked myself) are "what should I put in my git ignore", "should I commit my workspace to git", and "can I keep track of my git hash in the job document".

### Proposed change

I think we should include some best practices that we all tend to use with git,

[2020-08-18 20:23] vyasr commented on #100
Regarding the Additional Context, this is what glotzerlab/signac-flow#189 is meant to help with, but yes git hashes are probably one of the best options.

[2020-09-14 23:53] mikemhenry commented on #75
That is very unclear, sorry about that.I believe that much more of the API is now exposed on read the docs.

[2020-09-14 23:53] #75 closed

[2020-09-17 13:46] b-butler opened #101 "Add link to docs on decorators"
### Issue Description
In the `signac` tutorial, we introduce the decorator syntax `@` without defining what a Python decorator is or linking to documentation on decorators. A new user expressed some confusion at this point in the documentation. As decorators are a nice syntactic feature of Python, but potential not used commonly enough to be known by users who are newer to Python,
### Proposed cha

[2020-09-18 21:59] vyasr commented on #101
I'm all for linking to good docs on decorators. I don't think we should attempt to explain them ourselves, but links are great.

[2020-10-28 00:32] bdice opened #103 "Intersphinx references in code snippets"
### Issue Description

The sphinx-gallery package automatically adds intersphinx references to all Jupyter notebooks / input files that it renders. Example: https://sphinx-gallery.github.io/stable/configuration.html#link-to-documentation

It would be very helpful if we could enable automatic intersphinx references in all code snippets (doctest-style snippets in method docstrings and rST blocks lik

[2020-10-28 00:45] bdice commented on #100
Here's what I put in my `.gitignore`. This probably isn't a complete list, make suggestions if I'm overlooking something.
[code]

[2020-10-28 01:02] bdice commented on #56
@mikemhenry Could you provide more detail, or close this if it's no longer relevant?

[2020-10-28 01:02] bdice commented on #47
Closing in favor of #100.

[2020-10-28 01:02] #47 closed

[2020-10-28 08:52] csadorf commented on #100
It's really time that we long-term move towards `.signac/` for all those files cluttering the project root directory, huh? :)

[2020-10-29 12:57] vyasr commented on #100
Yup, definitely think that's the right move long term! Documented at glotzerlab/signac#197 and glotzerlab/signac-flow#347

[2020-10-29 18:58] mikemhenry commented on #56
I think this has been solved, ~I was looking for a way to see docs rendered~ wow I saw the day and month but not the year! This was a reminder to setup automated reviewers to pull requests, which has now been setup.

[2020-10-29 18:58] #56 closed

[2020-11-03 02:53] kidrahahjo commented on #96
@klywang @cbkerr I believe the changes are pending with respect to this issue.
Since it's a small change, should I go ahead and work on this if you're busy with your schedule?

[2020-11-03 14:11] kidrahahjo commented on #50
@bdice @klywang
I see two of the pull requests got merged which mentioned this issue.
Should we close this?

[2020-11-03 14:21] kidrahahjo commented on #78
@vyasr I'm not really sure if some work has been done on this or not? Can you please confirm?

[2020-11-03 14:23] kidrahahjo commented on #76
@vyasr is this issue still relevant (or requires attention)? I see some work has been done like @cbkerr mentioned

[2020-11-03 14:40] bdice commented on #50
Yes, I think this is resolved.

[2020-11-03 14:40] #50 closed

[2020-11-03 15:15] vyasr commented on #76
I think that's a question for @cbkerr and @atravitz. There was further work done to improve the docs even since the last comment here, @atravitz should we consider this issue resolved for now? The problem with any issue like "Improve..." is that it's inherently a bit nebulous in scope. We should either use this issue as a catch-all and include lots of detailed notes/checklist/to-do items, or clear

[2020-11-03 15:21] vyasr commented on #78
This hasn't been addressed yet. The relevant class has docstrings, but what we'd really want is to update our topic guide to show how you can take advantage of this object to generate different types of status output [here](https://docs.signac.io/en/latest/flow-project.html#the-project-status).

[2020-11-03 16:53] mikemhenry commented on #79
Actually, no, I don't have time to take care of this right now.

[2020-12-02 03:51] klywang commented on #96
@kidrahahjo sorry about the late reply. Go ahead!

[2020-12-02 04:13] cbkerr commented on #96
That would be great @kidrahahjo, thank you!

For visual appeal, it might be nice to add to [Kelly's outline](https://github.com/glotzerlab/signac-docs/issues/96#issuecomment-671549486)  the badges of the packages ([as currently displayed on the Packages page](https://docs.signac.io/en/latest/packages.html)). It would be duplicate info, but I think relevant in both cases.

[2020-12-22 03:58] cbkerr commented on #76
@vyasr I agree that issues like this should be specific enough to know when they're done. #85 by @klywang is a great example of this :)

I'm going to go ahead and close this because in the course of all the docs work we did over the summer, we've even [removed the "references" page linked in the original comment](https://github.com/glotzerlab/signac-docs/pull/97/commits/55f08b1eb5c27669b7aec55797e

[2020-12-22 03:58] #76 closed

[2020-12-23 16:43] cbkerr opened #108 "Imprecise use of "reset" throughout the docs"
### Issue Description

We need to better define the different meanings of "reset" to help explain `reset_statepoint` and `update_statepoint`. I've identified some places in the documentation with imprecise wordings.

### Proposed change
I've copied the proposals here. See background for my reasoning.

- [ ] In **Jobs-->The Job State Point-->Modifying the State Point**, reword to not say "reset" li

[2020-12-28 18:14] bdice commented on #108
This is a good observation. I hadn't considered that part of our API before, but I see why the method names are confusing. I think this would be a good candidate for deprecation and changing the public API in the signac 2.0 release, since there is slightly redundant functionality between `reset_statepoint` and `update_statepoint` and the names aren't especially clear.

[2020-12-28 22:15] klywang commented on #108
I agree that the wording can be unclear for new users.

Clear examples would be especially helpful, although I'm curious how you would demonstrate the difference between these functions in the docs.

[2021-01-07 15:41] #96 closed

[2021-02-10 17:25] bdice opened #114 "autodoc references are broken because packages aren't installed"
### Issue Description

The following warning appears in ReadTheDocs build logs:
[code]

### Proposed change (optional)

This is happening because signac isn't installed by the signac-docs ReadTheDocs config. However, we shouldn't be using autodoc directly in the signac docs at all, in my opinion. We should only use links/references to the signac API docs instead. I propose deleting these (we alrea

[2021-02-12 11:40] kidrahahjo opened #118 "Maintaining version wise documentation"
### Issue Description
When we remove any class/function from **signac** or **signac-flow**, the API documentation for those function also gets removed. (This is because we have an API reference for the docs)
In `flow` version 0.13, we will remove classes and methods like `JobOperation`, `next_operations`, `run_operations`, etc. Some of our users may choose to not install the latest version and thi

[2021-02-12 12:40] mikemhenry commented on #118
This is a great idea and we do maintain version documentation! You have to select the API documentation for a package, but in the bottom left you can choose the version of docs you want.
![Screenshot from 2021-02-12 05-39-01](https://user-images.githubusercontent.com/11765982/107769087-a5897080-6cf4-11eb-91b3-219a92c27b05.png)

[2021-02-12 13:33] kidrahahjo commented on #118
This is great, I might have missed this. Thanks @mikemhenry for letting me know. I am going to close this now!

[2021-02-12 13:33] #118 closed

[2021-02-12 13:45] mikemhenry commented on #118
No worries! It doesn't show up when on the "main" docs page so it is easy to miss.

[2021-02-15 17:39] vyasr commented on #45
@klywang are you still interested in this? We're chatting about docs again and would love to move forward with getting this type of mind map into our docs.

[2021-02-15 18:11] klywang commented on #45
![image](https://user-images.githubusercontent.com/47036428/107981004-4bf0a280-6f8f-11eb-8a5e-78e2d3bc9c02.jpeg)

The most recent diagram I made looks like this, but I'm not 100% sure what other information we would want on it.

[2021-02-15 23:17] bdice opened #120 "New Concepts Page"
### Issue Description

During office hours, @atravitz led a discussion of what a revised Concepts page might look like. I took notes, copied below. I have rephrased the notes from our original collaborative document, to make action items and next steps more clear. Please comment below if you are interested in helping!

We should convert the SIAM 2019 graphic (below) into a home page figure for con

[2021-02-16 15:36] atravitz commented on #120
@klywang we'd love to have you join for this week's office hours (Thursday at noon) to incorporate some of the related work you've done on this!

[2021-02-16 15:37] #114 closed

[2021-03-11 17:39] bdice opened #123 "Explicitly define "inconsistent data space""
### Issue Description

The docs don't do a good job of explaining what an "inconsistent" data space means. Users are warned to avoid inconsistency, but it's not clear what that means.

We also need to replace "incoherent" with "inconsistent."

### Proposed change (optional)

Describe that consistency essentially means `hash(statepoint) == id`.

### Additional context (optional)

This led to confus

[2021-03-11 17:44] bdice opened #124 "Show heterogeneous data space use cases"
### Issue Description

From conversations with @cbkerr and users performing experimental research, we should expand the examples/concepts to include heterogeneous use cases. We also need to show nested state points.

### Proposed change (optional)

Add examples of heterogeneous data, explain that signac is a "NoSQL" type of database. Define homogeneous, heterogeneous.

[2021-03-12 18:56] cbkerr opened #125 "Update pre-commit hook development documentation"
### Issue Description

I was trying to figure out what `pre-commit install` does exactly and came to the [contributing section](https://docs.signac.io/en/latest/community.html#contributions) to figure out how to set it up.

The file `requirements/requirements-precommit.txt` no longer exists.

[2021-03-12 18:58] #125 closed

[2021-03-25 14:17] cbkerr commented on #59
Closing as we are refining definitions in the google doc and the [docs project](https://github.com/orgs/glotzerlab/projects/5/).

(For future reference, I don't think this is a good first issue because it requires a deep working knowledge of how the pieces of signac fit together.)

[2021-03-25 14:17] #59 closed

[2021-03-25 14:24] csadorf commented on #59
@cbkerr Why would you close the issue if the work is still ongoing?

[2021-04-08 15:54] atravitz commented on #120
Here's the google doc where we're keeping all our ideas for this:
https://docs.google.com/document/u/1/d/1_merhcK3ohas4IloE616yL7gypMRFcaQLh2oChExC7o/edit?pli=1

[2021-05-26 19:49] bdice opened #136 "Use sphinx.ext.linkcode"
### Issue Description

Sphinx has an extension that allows class/function docstrings to point back to the original source file on GitHub. That would be nice to include, so that users/contributors can quickly locate source code when needed.

https://www.sphinx-doc.org/en/master/usage/extensions/linkcode.html

Example:
https://docs.e3nn.org/en/latest/api/o3/o3_rotation.html

### Proposed change (opt

[2021-06-09 15:05] b-butler opened #144 "Fix MPI Documentation"
### Issue Description
MPI documentation is currently wrong in `recipes.rst`. It seems to predate `nranks` and definitely predates groups which enforced the `submit -> run -> {exec,run in process}` pipline. This means the documentation is out of date and actually wrong in some places.

### Proposed change (optional)

Redo the documentation to use `nranks` and remove template customization for MPI o

[2021-06-26 15:47] bdice opened #146 "Add aggregation examples"
We could add more examples for some or all of the following:

- *Group by state point keys*: The aggregates are grouped by multiple state point keys.
- *Group by arbitrary key function*: The aggregates are grouped by keys determined by a key-function that expects an instance of :class:`~.signac.contrib.job.Job` and return the grouping key.
- Using a completely custom aggregator function when even

[2021-06-26 18:46] bdice opened #147 "Make capitalization of section headings consistent"
We're inconsistent about capitalization in section headings across the entirety of the signac documentation. We use title case in some places and sentence case in other places. I think I would prefer to use sentence case instead of title case.

Examples:
- "Selecting jobs for aggregation" is sentence case.
- "Selecting Jobs for Aggregation" is title case.

_Originally posted by @bdice in https://g

[2021-08-11 15:08] bdice opened #153 "Query docs should not show `doc_filter`"
### Issue Description
This page describes `doc_filter`arguments, which should be removed.
https://docs.signac.io/en/latest/query.html#query-namespaces

This PR removes the `doc_filter` argument from the docs: https://github.com/glotzerlab/signac/pull/586

[2022-01-30 16:13] redeboer commented on #103
Incidentally ran into this issue while googling. Seems that the new [sphinx-codeautolink](https://sphinx-codeautolink.readthedocs.io) does the job!

[2022-01-30 16:59] bdice commented on #103
@redeboer Wow! Thanks for letting us know! I will give it a try!

[2022-01-30 18:24] bdice commented on #136
I'm going to close this issue, as I no longer think it's a good idea. The `linkcode_resolve` function is pretty fragile and would need modification to render correctly for historical version of our docs like signac 1.0.0: https://docs.signac.io/projects/core/en/v1.0.0/api.html. We already provide `sphinx.ext.viewcode` and that does a similar thing, it just doesn't link to GitHub. https://www.sphin

[2022-01-30 18:24] #136 closed

[2022-03-09 07:29] kidrahahjo opened #161 "Inconsistent naming of grouping operations in tutorial"
### Issue Description
The snippet in group-ing operations explaining the use of groups has inconsistent naming of operations and does not import `json` module.

[2022-03-09 07:30] #161 closed

[2022-04-05 17:06] cbkerr opened #164 "Prepare the signac 2.0 migration guide"
### Issue Description

As signac 2.0.0 is finalized, we will use the change log and the process of updating the examples in the documentation to prepare a migration guide.

See for instance glotzerlab/signac/pull/685

### Proposed change (optional)

I think this should appear under the Installation section in the sidebar

[2022-04-23 19:27] bdice commented on #103
I added sphinx-codeautolink to signac-dashboard. I found that it wasn't as helpful for signac or signac-flow. The structure of our docs and their code examples is pretty incomplete, meaning that there aren't many (any?) helpful links. We would need to revise the documentation examples to be fully executable snippets (including imports, etc.) in order to see a benefit from this.

[2022-08-15 18:49] cbkerr commented on #59
This is the link to the google docs glossary development: https://docs.google.com/document/d/1_merhcK3ohas4IloE616yL7gypMRFcaQLh2oChExC7o/edit?pli=1

[2022-10-19 16:54] mikemhenry opened #172 "Remove signac Support Email"
We have the `signac-support@umich.edu` email linked in a few spots across `signac` & friends.

[code]

Really the only spot I'm not sure how we want to replace the email is in the `setup.py` for `signac` & `signac-flow`:
`maintainer_email="signac-support@umich.edu"`

Do we want to replace it with a different email or just drop that bit of metadata?

@b-butler @bdice @cbkerr

[2022-10-19 16:59] bdice commented on #172
Hmm. I also don't want to remove an email from the Code of Conduct. Let's keep the email alive (@cbkerr, please ask admins to add you there) but redirect the following pages in our docs to Slack:

[code]

[2022-10-19 17:34] mikemhenry commented on #172
Sounds good! I was thinking that the email had more use that we thought it did and wanted to make sure that we don't let it die.

This could be an opportunity to move the email to a google group that we control, but that is something we can talk about next time.